<div class="conteudo-texts container">

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p>{{ row._entity.field_text_content.value }}</p>
			</div>

			<div class="col-md-4">
				<p>{{ row._entity.field_text_second.value }}</p>
			</div>

			<div class="col-md-4">
				<p>{{ row._entity.field_text_third.value }}</p>
			</div>
		</div>
	</div>
</div>